/* Header */
header {
  width: 100%;
  height: 304px;
  background-color: #a0a98e;
  background-size: cover;
  background-position: center;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}
header > div {
  margin: auto;
  width: auto;
}
header h1 {
  margin: 0;
  padding: 0px 0px;
  border: 0;
  font-size: 60px;
}
header p {
  margin: 0;
  font-size: 25px;
}
@media only screen and (max-width: 844px) {
  header {
    height: 240px;
  }
  header h1 {
    font-size: 40px;
  }
  header p {
    font-size: 18px;
  }
}

/* Section */
section {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
section > div {
  max-width: 1350px;
  margin: 40px auto;
  padding: 0 20px;
  height: auto;
}

/* Filtrar y ordenar */
section .filtrar-ordernar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: #a0a98e;
  font-weight: 500;
  margin-bottom: 12px;
}
#ordenar {
  text-align: center;
  height: 24px;
  border-radius: 0.4em;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 844px) {
  #filtrar-por {
    color: white;
    background-color: #a0a98e;
    padding: 3px;
    border-radius: 5px;
  }
  #filtrar-por:hover {
    background-color: rgb(98, 98, 98);
  }
}

/* Filtrador y productos */
section .filtrador-productos {
  display: flex;
  font-weight: 400;
}

/* Filtrador */
section .filtrador {
  min-width: 320px;
  width: 320px;
  height: auto;
  margin-bottom: auto;

  margin-right: 40px;
  border-top: 1px solid;
  border-color: black;
}
.filtrador > div {
  border-bottom: 1px solid;
  border-color: black;
  padding: 10px 0;
}
.filtrador > div > div {
  margin-top: 10px;
  font-size: 16px;
  max-height: 130px;
  overflow-y: auto;
}
.filtrador label {
  margin: 0;
}
@media only screen and (max-width: 844px) {
  .filtrador {
    display: none;
  }
}

/* Scrollbar */
.filtrador > div > div::-webkit-scrollbar {
  width: 4px;
}
.filtrador > div > div::-webkit-scrollbar-track {
  background: #ebebeb;
}
.filtrador > div > div::-webkit-scrollbar-thumb {
  background: #757575;
}

/* Precio */
#div-precio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#div-precio > input {
  width: 100px;
  height: 35px;
  font-size: 15px;
  text-align: center;
}

#div-precio > span {
  font-weight: 400;
  font-size: 20px;
}

/* Productos */
.productos {
  width: 100%;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px 7px;
}
.grid-container a {
  text-decoration: none;
}
.grid-container > a > div {
  height: auto;
}
.div-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.div-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-producto {
  font-size: 17px;
  font-weight: 400;
  color: black;
}
.info-producto p {
  margin: 0;
}
.titulo-producto {
  height: 54px;
  font-size: 18px;
}
@media only screen and (max-width: 1060px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
