header {
    width: 100%;
    height: 250px;
    background-color: #a0a98e;
    background-size: cover;
    background-position: center;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

header>div {
    margin: auto;
    width: auto;
}
header h1 {
    margin: 0;
    padding: 0px 0px;
    border: 0;
    font-size: 65px;
}
div.espacio {
    width: 100%;
    height: 100%;
    margin-top: 40px;

}
@media only screen and (max-width: 700px) {
    header h1 {
      font-size: 38px;
    }
    header div > div {
      font-size: 19px;
      padding-bottom: 20px;
    }
    header {
      background-position: right;
      height: 270px;
    }
  }
  

section {

    width: 100%;
    height: 100%;
    align-items: center;

}

img.ajuste {
    width: 50%;
    height: 80%;

    align-items: center;
    position: relative;
    left: 25%;
    top: 30px;
}

#imag-card {

    width: 100%;
    height: 100%;

}

#div-imgp {

    width: auto;
    height: auto;
    align-items: center;
    position: relative;
    left: 25%;
    width: 50%;

}

h3.ingre {
    font-family: 'Courier New', Courier, monospace;

}

div.card-title {
    text-align: center;
}